
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>请选择你要进行的操作</h1>

<div class="ch">
    <h4>进入<a href="https://localhost:44312/communi">社团首页</a>.</h4>
    <br />
    <h4>进入<a href="https://localhost:44312/member">社员首页</a>.</h4>
    <br />
    <h4>进入<a href="https://localhost:44312/communis">社团管理</a>.</h4>
    <br />
    <h4>进入<a href="https://localhost:44312/members">社员管理</a>.</h4>
</div>
