@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">欢迎来到SIT学生社团管理平台</h1>
        <p>Learn about <a href="https://www.sit.edu.cn/">Learn more about SIT</a>.</p>
       
        <div class="item">
            <i>用户名</i>
            <input id="user" type="text" placeholder="username">
        </div>
        <br />
        <div class="item">
            <i>密码</i>
            <input id="pass" type="password" placeholder="password">
        </div>
        <button class="bs"> <a href="https://localhost:44312/choose">登录</a></button>
    </div>
 